# emacs
*~

# compiled
*.pyc

# IntelliJ
.idea
*.iml

# model
model/__pycache__/*

# data
data

# notebook
notebook/.ipynb_checkpoints

# upload image
sobel_main/static/*
!sobel_main/static/processed/
sobel_main/static/processed/*
!sobel_main/static/processed/.gitkeep
